<div class="row m-0 p-0">
    <div class="col-sm-3">
        <div class="m-2 p-3 border border-1 rounded rounded-3 bg-body-secondary">
            <img src="/img/admin.png" class="w-50 d-block mx-auto">
            <h3 class="text-center mt-3">Nome do Usuário</h3>
            <h5 class="text-center">Categoria: Administrador</h5>
        </div>
    </div>
    <div class="col-sm-9">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <h3 class="navbar-brand">Bem Vindo</h3>
                <nav class="nav">
                    <a class="btn btn-sm btn-outline-primary" href="/produto"><i class="fa-solid fa-box-open">Produtos</i></a>
                </nav>
            </div>
        </nav>
    </div>
</div>