<div class="col-md-6 mx-auto border mt-20">
    <form method="post" action="/usuario/salvar">
        <fieldset>
            <legend class="text-center headings-font-weight">CADASTRO DE USUÁRIO</legend>
            <input placeholder='Nome' name='nome' type='text' class="form-control" required />
            <input placeholder='Email' name='email' type="email" class="form-control" required/>
            <input placeholder='Senha' name="senha" type="password" class="form-control" required/>
            <button type='submit' class="btn btn-success mt-3">Cadastrar</button>
        </fieldset>
    </form>
</div>