<div class="col-md-6 mx-auto shadow p-3">
    <form method="post" action="/usuario/login">
        <fieldset>
            <legend><strong>LOGIN</strong></legend>
            <label>EMAIL</label>
            <input placeholder='Email' name='email' type='email' class="form-control" required />
            <label>SENHA</label>
            <input placeholder='Senha' name='senha' type="password" class="form-control" required/>
            <button type='submit' class="btn btn-success mt-3">Login</button>
        </fieldset>
    </form>
    <a href="/usuario/cadastro">Não tem uma conta? Cadastre-se</a>
</div>