<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Sistema</title>
</head>
<body>
    {{{body}}}
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>