<form method="post" action="/produto/salvar">
    <fieldset>
        <legend>CADASTRO DE PRODUTO</legend>
        <input placeholder='Descrição' name='descricao' type='text' class="form-control" required />
        <input placeholder='Preço' name='preco' type="number" class="form-control" required/>
        <input placeholder='Estoque' name="estoque" type="number" class="form-control" required/>
        <button type='submit' class="btn btn-success mt-3">Cadastrar</button>
    </fieldset>
</form>

{{!-- <div class="col-md-6 mx-auto shadow p-3">
    <form method="post" action="/cadastro">
        <fieldset>
            <legend>Cadastro de Produtos</legend>
            <input placeholder='Descrição' name='descricao' type='text' class="form-control" />
            <input placeholder='Preço' name='preco' type="number" class="form-control" />
            <input placeholder='Estoque' name="estoque" type="number" class="form-control" />
            <button type='submit' class="btn btn-success mt-3">Cadastrar</button>
        </fieldset>
    </form>
</div> --}}