<div class="container-sm">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">Produtos</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/produto/cadastrar"><i class="fa-solid fa-plus"></i> Novo</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th class="col-1">ID</th>
            <th class="col-5">DESCRIÇÃO</th>
            <th class="col-2">PREÇO</th>
            <th class="col-2">ESTOQUE</th>

        </tr>
        
        {{#each produtos}}
            <tr>
                <td>{{id}}</td>
                <td>{{descricao}}</td>
                <td>{{preco}}</td>
                <td>{{estoque}}</td>
            </tr>
        {{/each}}
    </table>
</div>